%h1.display-4.text-primary
  Edit Account
%p
  変更する情報を入力してください
= form_for(current_user) do |f|
  = render '/layouts/error_messages', model: f.object
  .field
    = f.label :name
    %br/
    = f.text_field :name, autofocus: true, autocomplete: "name"
    %br/
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  -# .field
  -#   = f.label :password
  -#   %br/
  -#   = f.password_field :password, autocomplete: "current-password"
  -# - if devise_mapping.rememberable?
  -#   .field
  -#     = f.check_box :remember_me
  -#     = f.label :remember_me
  .actions
    = f.submit "Update"
-# = render "devise/shared/links"